// Colors (based on https://material.io/design/color/the-color-system.html#tools-for-picking-colors)
@import "nord";

$bg-primary: $nord0;
$bg-secondary: $nord1;
$bg-tertiary: $nord2;
$bg-body: $nord3;

$secondary-bar-bg: #FFFFFF;
$border: darkgray;

$text-color: $nord6;
$text-background-color-hovered: rgba(38,50,56, 0.5);
$icon-color: $nord4; 

$selection: #0091EA;
$selection-highlight: #006AEB;
$muted: #B6C3CE;
$muted-highlight: #86B3D0;
// Main navbar height
$navbar-outer-height: 56px;
// 100% height - navbar
$content-full-height: calc(100vh - #{$navbar-outer-height});
// Secondary bars width
$secondary-bar-width: 50px;

$z-index-order: (
  resizable-grid: 0,
  hierarchy-slider: 500,
  side-panel: 600,
  modal:1000,
  dropdown: 500
);










