html {
  /** 
   * Colors for graphs
   */
  --colors-nodes-default: #ECEFF4;
  --colors-nodes-other: #647EA9;

  /**
   * Text
   */
   --text-color-light: #eceff4;
   --text-color-dark: #3b4252;
   --text-color-highlight: #d08770;
}
