:root {
  /**
   * Background
   */
  --bg-primary: var(--nord0);
  --bg-secondary: var(--nord1);
  --bg-tertiary: var(--nord2);
  --bg-body: var(--nord3);

  /**
   * Colors for graphs
   */
  --bg-graphs: #252a33;
  --colours-nodes-default: #ECEFF4;
  --colours-nodes-other: #647EA9;

  /**
   * Selection
   */
  --selection: var(--nord13);
  --selection-dark: var(--nord10);
  --selection-highlight: #006AEB;
  --selection-highlight-dark: var(--nord9);
  --muted: #B6C3CE;
  --muted-highlight: #86B3D0;

  /**
   * Text
   */
   --text-color-light: var(--nord6);
   --text-color-dark: var(--nord1);
   --text-color-highlight: var(--nord12);

  /**
   * UI
   */
  --icon-color: var(--nord4);
  --icon-color-dark: var(--nord1);
  --drilldown-header: var(--nord4);
  --curation-correct: #7ca25c;
}
