@import "variables";

.view-container {
    position: relative;
    height: $content-full-height;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    .content {
      flex: 1;
    }
}

.search-row {
  display: flex;
  border-bottom: 1px solid $border;
  background-color: $secondary-bar-bg;
}
