@import "variables";

.view-container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: $content-full-height;
  overflow: hidden;
  background-color: $bg-body;
}

.search-row {
  display: flex;
  background-color: $bg-secondary;
  > .search-bar-container {
    flex: 1;
  }
}
