@import "variables";


.navbar {
  background-color:$bg-primary;
  .navbar-brand, .nav-link {
    color: $text-color-light;
  }
  //Navigation tabs
  .nav-item.underlined {
    border-bottom: 2px solid var(--selection);
  }
}

.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
  color: $text-color-dark;
  background-color: var(--nord4);
  border-color: var(--nord4);
  box-shadow: none;
}

.btn-primary:hover {
  color: $text-color-dark;
  background-color: var(--nord5);
  border-color: var(--nord4);
}

.btn-primary:disabled {
  color: $text-color-dark;
  background-color: var(--nord4);
  border-color: var(--nord4);
  opacity: 0.3;
}

.btn-secondary {
  background-color: var(--nord1);
}

.btn-secondary:hover {
  background-color: var(--nord2);
}

.btn-secondary:disabled {
  background-color: var(--nord1);
  opacity: 0.5;
}

div#lex-assistant-box {
  margin-top: 7px;

  ul li.selectable.active {
    background-color: var(--selection);
  }
}

.facet-terms-container {
  --facet-terms-bar-0-selected: var(--selection);
  --facet-terms-bar-0-selected-contrast: var(--selection);
  --facet-terms-bar-0-selected-contrast-hover: var(--selection-hihghlight);
  --facet-terms-bar-0-muted: var(--muted);
  --facet-terms-bar-0-muted-contrast-hover: var(--muted-hihghlight);

  --facet-terms-bar-1-selected: var(--selection);
  --facet-terms-bar-1-selected-contrast: var(--selection);
  --facet-terms-bar-1-selected-contrast-hover: var(--selection-hihghlight);
  --facet-terms-bar-1-muted: var(--muted);
  --facet-terms-bar-1-muted-contrast-hover: var(--muted-hihghlight);

  --facet-terms-tick-color: var(--selection-hihghlight);
}

.search-bar-container {
  height: $secondary-bar-width;
}

.search-bar-container::v-deep .lex-box {
  display: flex;
  height: $secondary-bar-width;
  box-shadow: none;
  border-color: var(--selection);
}

.search-bar-container::v-deep .lex-box:not(.active) {
  border: none;
}