:root {
  /**
   * Borders
   */
  --border: 1px solid lightgray;
  --border-light: 1px solid #f6f6f6;

  /**
   * z-index
   */
  --z-index--resizable-grid: 0;
  --z-index--hierarchy-slider: 500;
  --z-index--dropdown: 500;
  --z-index--side-panel: 600;
  --z-index--modal:1200;
  --z-index--tooltip: 2000;

  /**
   * Dimensions
   */
  --navbar-outer-height: 56px; /* Main navbar height */
  --content-full-height: calc(100vh - var(--navbar-outer-height));
  --secondary-bar-width: 50px; /* Secondary bar width */
  --provenance-graph-height: 25vh;
}
